body{
    text-align:center;
    margin: 10px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

.row, #col{
    vertical-align:center;
}

img {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 10px;
}