body{
    display:grid;
    padding: auto;
    margin: 0 auto;
    text-align:center;
    position: absolute;
    left: auto;
    right: auto;
}
.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

img {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 50%;
}